body { 
    margin: 0; 
    overflow: hidden; 
}

#info, #stats, #bar-container, #controls {
    position: absolute;
    background: rgba(75, 192, 192, 0.15);
    /* background-color: red; */
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

#stats { top: 10px; left: 10px; max-width: 300px; }
#info { bottom: 10px; left: 10px; max-width: 300px; }
#bar-container { top: 10px; right: 10px; width: 300px; }
#controls { bottom: 40px; right: 40px; width: 200px; height: 50px; padding: 0;}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: rgba(0, 0, 0, 0.3);
}

.point {
    position: absolute;
    pointer-events: auto;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
}

.point-marker {
    width: 12px;
    height: 12px;
    background-color: rgba(0,255,0,0.6);
    border: none;
    border-radius: 100%;
}
.sus {
    background-color: rgba(255,0,0,0.6);
}

.point:hover .point-marker {
    transform: scale(1.35);
}

.point-label {
    font-size: 14px;
    color: white;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 8px;
    display: none; 
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}


#rotation-toggle {
    background-color: rgba(75, 192, 192, 0.5);
    border: none;
    width: 200px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px;
    text-align: center;
    height: 55px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
}

#rotation-toggle:hover {
    background-color: rgba(75, 192, 192, 0.15);
}
